# Military Power Clustering Project
-World military power
Source : globalfirepower.com on 1st may 2020

- https://data.world/vizzup/world-military-power/workspace/file?filename=World+military+power.xlsx

# Import Libraries

In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
plt.rcParams["figure.figsize"] = (10,6)
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 500)

In [7]:
pd.options.display.float_format = '{:,.10f}'.format

In [4]:
!pip install openpyxl

Collecting openpyxl

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\yasir\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

# Ingest Data

In [69]:
df = pd.read_excel("World military power.xlsx", header=[1])
df.head(20)

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,...,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
0,Afghanistan,1.3444000000,Afghanistan,260.0000000000,Afghanistan,0.0000000000,Afghanistan,25.0000000000,Afghanistan,30.0000000000,...,Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0.0000000000,Afghanistan,"1,200.0000000000",Afghanistan,"5,987.0000000000"
1,Albania,2.3137000000,Albania,19.0000000000,Albania,0.0000000000,Albania,0.0000000000,Albania,0.0000000000,...,Albania,"30,57,220",Albania,"28,748.0000000000",Albania,362.0000000000,Albania,41.0000000000,Albania,691.0000000000
2,Algeria,0.4659000000,Algeria,551.0000000000,Algeria,103.0000000000,Algeria,22.0000000000,Algeria,59.0000000000,...,Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998.0000000000,Algeria,0.0000000000,Algeria,"6,734.0000000000"
3,Angola,0.8379000000,Angola,295.0000000000,Angola,72.0000000000,Angola,18.0000000000,Angola,30.0000000000,...,Angola,"3,03,55,880",Angola,"12,46,700",Angola,"1,600.0000000000",Angola,"1,300.0000000000",Angola,"5,369.0000000000"
4,Argentina,0.6521000000,Argentina,227.0000000000,Argentina,24.0000000000,Argentina,7.0000000000,Argentina,9.0000000000,...,Argentina,"4,46,94,198",Argentina,"27,80,400",Argentina,"4,989.0000000000",Argentina,"11,000.0000000000",Argentina,"11,968.0000000000"
5,Armenia,2.1251000000,Armenia,64.0000000000,Armenia,0.0000000000,Armenia,9.0000000000,Armenia,3.0000000000,...,Armenia,"30,38,217",Armenia,"29,743.0000000000",NaN,NaN,Armenia,0.0000000000,Armenia,"1,570.0000000000"
6,Australia,0.3225000000,Australia,464.0000000000,Australia,82.0000000000,Australia,6.0000000000,Australia,38.0000000000,...,Australia,"2,34,70,145",Australia,"77,41,220",Australia,"25,760.0000000000",Australia,"2,000.0000000000",NaN,NaN
7,Austria,0.9568000000,Austria,120.0000000000,Austria,15.0000000000,Austria,0.0000000000,Austria,11.0000000000,...,Austria,"87,93,370",Austria,"83,871.0000000000",NaN,NaN,Austria,0.0000000000,Austria,"2,524.0000000000"
8,Azerbaijan,0.9463000000,Azerbaijan,147.0000000000,Azerbaijan,17.0000000000,Azerbaijan,12.0000000000,Azerbaijan,1.0000000000,...,Azerbaijan,"1,00,46,516",Azerbaijan,"86,600.0000000000",Azerbaijan,713.0000000000,Azerbaijan,0.0000000000,Azerbaijan,"2,468.0000000000"
9,Bahrain,1.8547000000,Bahrain,109.0000000000,Bahrain,17.0000000000,Bahrain,0.0000000000,Bahrain,2.0000000000,...,Bahrain,"14,22,659",Bahrain,760.0000000000,Bahrain,161.0000000000,Bahrain,0.0000000000,NaN,NaN
10,Bangladesh,0.7066000000,Bangladesh,177.0000000000,Bangladesh,44.0000000000,Bangladesh,0.0000000000,Bangladesh,11.0000000000,...,Bangladesh,"15,94,53,001",Bangladesh,"1,43,998",Bangladesh,580.0000000000,Bangladesh,"8,370.0000000000",Bangladesh,"4,413.0000000000"
11,Belarus,0.8179000000,Belarus,202.0000000000,Belarus,39.0000000000,Belarus,68.0000000000,Belarus,4.0000000000,...,Belarus,"95,27,543",Belarus,"2,07,600",NaN,NaN,Belarus,"2,500.0000000000",Belarus,"3,599.0000000000"
12,Belgium,1.0499000000,Belgium,148.0000000000,Belgium,43.0000000000,Belgium,0.0000000000,Belgium,12.0000000000,...,Belgium,"1,15,70,762",Belgium,"30,528.0000000000",Belgium,67.0000000000,Belgium,"2,043.0000000000",Belgium,"1,297.0000000000"
13,Bhutan,10.1681000000,Bhutan,2.0000000000,Bhutan,0.0000000000,Bhutan,0.0000000000,Bhutan,0.0000000000,...,Bhutan,"7,66,397",Bhutan,"38,394.0000000000",NaN,NaN,Bhutan,0.0000000000,Bhutan,"1,136.0000000000"
14,Bolivia,0.9942000000,Bolivia,69.0000000000,Bolivia,0.0000000000,Bolivia,0.0000000000,Bolivia,14.0000000000,...,Bolivia,"1,13,06,341",Bolivia,"10,98,581",NaN,NaN,Bolivia,"10,000.0000000000",Bolivia,"7,252.0000000000"
15,Bosnia and Herzegovina,3.8586000000,Bosnia and Herzegovina,19.0000000000,Bosnia and Herzegovina,0.0000000000,Bosnia and Herzegovina,0.0000000000,Bosnia and Herzegovina,0.0000000000,...,Bosnia and Herzegovina,"38,49,891",Bosnia and Herzegovina,"51,197.0000000000",Bosnia and Herzegovina,20.0000000000,Bosnia and Herzegovina,0.0000000000,Bosnia and Herzegovina,"1,543.0000000000"
16,Botswana,2.0582000000,Botswana,45.0000000000,Botswana,10.0000000000,Botswana,0.0000000000,Botswana,11.0000000000,...,Botswana,"22,49,104",Botswana,"5,81,730",NaN,NaN,Botswana,0.0000000000,Botswana,"4,347.0000000000"
17,Brazil,0.1988000000,Brazil,715.0000000000,Brazil,43.0000000000,Brazil,78.0000000000,Brazil,126.0000000000,...,Brazil,"20,88,46,892",Brazil,"85,14,877",Brazil,"7,491.0000000000",Brazil,"50,000.0000000000",Brazil,"16,145.0000000000"
18,Bulgaria,0.8916000000,Bulgaria,63.0000000000,Bulgaria,13.0000000000,Bulgaria,4.0000000000,Bulgaria,5.0000000000,...,Bulgaria,"70,57,504",Bulgaria,"1,10,880",Bulgaria,354.0000000000,Bulgaria,470.0000000000,Bulgaria,"1,806.0000000000"
19,Burkina Faso,1.9009000000,Burkina Faso,16.0000000000,Burkina Faso,0.0000000000,Burkina Faso,3.0000000000,Burkina Faso,1.0000000000,...,Burkina Faso,"1,97,42,715",Burkina Faso,"2,74,200",NaN,NaN,Burkina Faso,0.0000000000,Burkina Faso,"3,611.0000000000"

# EDA

In [27]:
df.isnull().sum().any()

True

In [31]:
df.columns

Index(['Military Strength', 'Military Strength Power Index',
       'Aircraft Strength', 'Aircraft Strength value',
       'Fighter/Interceptor Strength', 'Fighter/Interceptor Strength value',
       'Attack Aircraft Strength', 'Attack Aircraft Strength value',
       'Transport Aircraft Fleet Strength',
       'Transport Aircraft Fleet Strength value', 'Trainer Aircraft Fleet',
       'Trainer Aircraft Fleet value', 'Helicopter Fleet Strength',
       'Helicopter Fleet Strength value', 'Attack Helicopter Fleet Strength',
       'Attack Helicopter Fleet Strength value', 'Tank Strength',
       'Tank Strength value', 'AFV/APC Strength', 'AFV/APC Strength value',
       'Self-Propelled Artillery Strength',
       'Self-Propelled Artillery Strength value', 'Towed Artillery Strength',
       'Towed Artillery Strength value', 'Rocket Projector Strength',
       'Rocket Projector Strength value', 'Navy Fleet Strengths',
       'Navy Fleet Strengths value', 'Aircraft Carrier Fleet Strength',
       'Aircraft Carrier Fleet Strength value', 'Submarine Fleet Strength',
       'Submarine Fleet Strength value', 'Destroyer Fleet Strength',
       'Destroyer Fleet Strength value', 'Frigate Fleet Strength',
       'Frigate Fleet Strength value', 'defense spending budget',
       'defense spending budget value', 'External Debt', 'External Debt value',
       'Airport Totals', 'Airport Totals value', 'Oil Production',
       'Oil Production value', 'Oil Consumption', 'Oil Consumption value',
       'Proven Oil Reserves', 'Proven Oil Reserves value',
       'Available Manpower', 'Available Manpower value', 'Total Population',
       'Total Population value', 'Total Square Land Area',
       'Total Square Land Area value', 'Total Coastline Coverage',
       'Total Coastline Coverage value', 'Total Waterway Coverage',
       'Total Waterway Coverage value', 'Total Border Coverage',
       'Total Border Coverage value'],
      dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Military Strength                        138 non-null    object
 1   Military Strength Power Index            138 non-null    float64
 2   Aircraft Strength                        138 non-null    object
 3   Aircraft Strength value                  138 non-null    float64
 4   Fighter/Interceptor Strength             138 non-null    object
 5   Fighter/Interceptor Strength value       138 non-null    float64
 6   Attack Aircraft Strength                 138 non-null    object
 7   Attack Aircraft Strength value           138 non-null    float64
 8   Transport Aircraft Fleet Strength        138 non-null    object
 9   Transport Aircraft Fleet Strength value  138 non-null    float64
 10  Trainer Aircraft Fleet                   138 non-null    object
 11  Trainer Aircraft Fleet value             138 non-null    float64
 12  Helicopter Fleet Strength                138 non-null    object
 13  Helicopter Fleet Strength value          138 non-null    float64
 14  Attack Helicopter Fleet Strength         138 non-null    object
 15  Attack Helicopter Fleet Strength value   138 non-null    float64
 16  Tank Strength                            138 non-null    object
 17  Tank Strength value                      138 non-null    float64
 18  AFV/APC Strength                         138 non-null    object
 19  AFV/APC Strength value                   138 non-null    float64
 20  Self-Propelled Artillery Strength        138 non-null    object
 21  Self-Propelled Artillery Strength value  138 non-null    float64
 22  Towed Artillery Strength                 138 non-null    object
 23  Towed Artillery Strength value           138 non-null    float64
 24  Rocket Projector Strength                138 non-null    object
 25  Rocket Projector Strength value          138 non-null    float64
 26  Navy Fleet Strengths                     124 non-null    object
 27  Navy Fleet Strengths value               124 non-null    float64
 28  Aircraft Carrier Fleet Strength          115 non-null    object
 29  Aircraft Carrier Fleet Strength value    115 non-null    float64
 30  Submarine Fleet Strength                 115 non-null    object
 31  Submarine Fleet Strength value           115 non-null    float64
 32  Destroyer Fleet Strength                 115 non-null    object
 33  Destroyer Fleet Strength value           115 non-null    float64
 34  Frigate Fleet Strength                   115 non-null    object
 35  Frigate Fleet Strength value             115 non-null    float64
 36  defense spending budget                  138 non-null    object
 37  defense spending budget value            138 non-null    object
 38  External Debt                            138 non-null    object
 39  External Debt value                      138 non-null    object
 40  Airport Totals                           138 non-null    object
 41  Airport Totals value                     138 non-null    float64
 42  Oil Production                           138 non-null    object
 43  Oil Production value                     138 non-null    object
 44  Oil Consumption                          138 non-null    object
 45  Oil Consumption value                    138 non-null    object
 46  Proven Oil Reserves                      138 non-null    object
 47  Proven Oil Reserves value                138 non-null    object
 48  Available Manpower                       138 non-null    object
 49  Available Manpower value                 138 non-null    object
 50  Total Population                         138 non-null    object
 51  Total Population value                   138 non-null    object
 52  Total Square Land Area                   138 non-null    object
 53  Total Square Land Area value             138 non-null    object
 54  Total Coastline Coverage                 109 non-null    object
 55  Total Coastline Coverage value           109 non-null    object
 56  Total Waterway Coverage                  138 non-null    object
 57  Total Waterway Coverage value            138 non-null    object
 58  Total Border Coverage                    129 non-null    object
 59  Total Border Coverage value              129 non-null    float64
dtypes: float64(20), object(40)
memory usage: 64.8+ KB

In [73]:
new_columns = []
for i in list(df.columns) :
    if str.endswith(i,'value'):
     new_columns.append(i)
       
new_columns

['Aircraft Strength value',
 'Fighter/Interceptor Strength value',
 'Attack Aircraft Strength value',
 'Transport Aircraft Fleet Strength value',
 'Trainer Aircraft Fleet value',
 'Helicopter Fleet Strength value',
 'Attack Helicopter Fleet Strength value',
 'Tank Strength value',
 'AFV/APC Strength value',
 'Self-Propelled Artillery Strength value',
 'Towed Artillery Strength value',
 'Rocket Projector Strength value',
 'Navy Fleet Strengths value',
 'Aircraft Carrier Fleet Strength value',
 'Submarine Fleet Strength value',
 'Destroyer Fleet Strength value',
 'Frigate Fleet Strength value',
 'defense spending budget value',
 'External Debt value',
 'Airport Totals value',
 'Oil Production value',
 'Oil Consumption value',
 'Proven Oil Reserves value',
 'Available Manpower value',
 'Total Population value',
 'Total Square Land Area value',
 'Total Coastline Coverage value',
 'Total Waterway Coverage value',
 'Total Border Coverage value']

In [87]:
df.duplicated().sum()

0

In [93]:
df_p = df[['Military Strength']]
df_p

    Military Strength
0         Afghanistan
1             Albania
2             Algeria
3              Angola
4           Argentina
..                ...
133         Venezuela
134           Vietnam
135             Yemen
136            Zambia
137          Zimbabwe

[138 rows x 1 columns]

In [95]:
df_nodup = df[new_columns]
df_nodup

,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,Self-Propelled Artillery Strength value,...,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage value
0,260.0000000000,0.0000000000,25.0000000000,30.0000000000,0.0000000000,187.0000000000,0.0000000000,0.0000000000,"1,062.0000000000",0.0000000000,...,43.0000000000,0.0000000000,"5,500.0000000000",0.0000000000,"1,43,25,743","3,49,40,837","6,52,230",0.0000000000,"1,200.0000000000","5,987.0000000000"
1,19.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,19.0000000000,0.0000000000,0.0000000000,467.0000000000,0.0000000000,...,4.0000000000,"16,000.0000000000","42,500.0000000000","16,83,00,000","15,19,438","30,57,220","28,748.0000000000",362.0000000000,41.0000000000,691.0000000000
2,551.0000000000,103.0000000000,22.0000000000,59.0000000000,87.0000000000,257.0000000000,45.0000000000,880.0000000000,"7,361.0000000000",320.0000000000,...,157.0000000000,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",998.0000000000,0.0000000000,"6,734.0000000000"
3,295.0000000000,72.0000000000,18.0000000000,30.0000000000,47.0000000000,126.0000000000,15.0000000000,379.0000000000,595.0000000000,28.0000000000,...,176.0000000000,"16,66,000","82,300.0000000000","8,27,30,00,000","62,44,205","3,03,55,880","12,46,700","1,600.0000000000","1,300.0000000000","5,369.0000000000"
4,227.0000000000,24.0000000000,7.0000000000,9.0000000000,64.0000000000,100.0000000000,0.0000000000,370.0000000000,739.0000000000,83.0000000000,...,"1,138.0000000000","4,79,400","6,85,000","2,18,50,00,000","2,01,79,430","4,46,94,198","27,80,400","4,989.0000000000","11,000.0000000000","11,968.0000000000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,260.0000000000,38.0000000000,0.0000000000,52.0000000000,82.0000000000,86.0000000000,10.0000000000,390.0000000000,600.0000000000,73.0000000000,...,444.0000000000,"20,07,000","5,75,000","3,00,90,00,00,000","1,42,60,129","3,16,89,176","9,12,050","2,800.0000000000","7,100.0000000000","5,267.0000000000"
134,293.0000000000,77.0000000000,0.0000000000,38.0000000000,36.0000000000,138.0000000000,25.0000000000,"2,615.0000000000","2,530.0000000000",70.0000000000,...,45.0000000000,"2,71,400","5,25,000","4,40,00,00,000","5,10,43,216","9,70,40,334","3,31,210","3,444.0000000000","17,702.0000000000","4,616.0000000000"
135,169.0000000000,77.0000000000,0.0000000000,8.0000000000,21.0000000000,61.0000000000,14.0000000000,620.0000000000,615.0000000000,20.0000000000,...,57.0000000000,"12,260.0000000000","1,45,000","3,00,00,00,000","1,12,66,221","2,86,67,230","5,27,968","1,906.0000000000",0.0000000000,"1,601.0000000000"
136,108.0000000000,18.0000000000,0.0000000000,11.0000000000,52.0000000000,27.0000000000,0.0000000000,75.0000000000,184.0000000000,0.0000000000,...,88.0000000000,0.0000000000,"21,000.0000000000",0.0000000000,"61,66,905","1,64,45,079","7,52,618",NaN,"2,250.0000000000","6,043.0000000000"
137,90.0000000000,10.0000000000,0.0000000000,14.0000000000,38.0000000000,28.0000000000,6.0000000000,42.0000000000,300.0000000000,0.0000000000,...,196.0000000000,0.0000000000,"19,500.0000000000",0.0000000000,"55,84,086","1,40,30,368","3,90,757",NaN,0.0000000000,"3,229.0000000000"

In [98]:
data = pd.concat([df_p,df_nodup], axis=1)
data.head()

,Military Strength,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,...,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage value
0,Afghanistan,260.0000000000,0.0000000000,25.0000000000,30.0000000000,0.0000000000,187.0000000000,0.0000000000,0.0000000000,"1,062.0000000000",...,43.0000000000,0.0000000000,"5,500.0000000000",0.0000000000,"1,43,25,743","3,49,40,837","6,52,230",0.0000000000,"1,200.0000000000","5,987.0000000000"
1,Albania,19.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,19.0000000000,0.0000000000,0.0000000000,467.0000000000,...,4.0000000000,"16,000.0000000000","42,500.0000000000","16,83,00,000","15,19,438","30,57,220","28,748.0000000000",362.0000000000,41.0000000000,691.0000000000
2,Algeria,551.0000000000,103.0000000000,22.0000000000,59.0000000000,87.0000000000,257.0000000000,45.0000000000,880.0000000000,"7,361.0000000000",...,157.0000000000,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",998.0000000000,0.0000000000,"6,734.0000000000"
3,Angola,295.0000000000,72.0000000000,18.0000000000,30.0000000000,47.0000000000,126.0000000000,15.0000000000,379.0000000000,595.0000000000,...,176.0000000000,"16,66,000","82,300.0000000000","8,27,30,00,000","62,44,205","3,03,55,880","12,46,700","1,600.0000000000","1,300.0000000000","5,369.0000000000"
4,Argentina,227.0000000000,24.0000000000,7.0000000000,9.0000000000,64.0000000000,100.0000000000,0.0000000000,370.0000000000,739.0000000000,...,"1,138.0000000000","4,79,400","6,85,000","2,18,50,00,000","2,01,79,430","4,46,94,198","27,80,400","4,989.0000000000","11,000.0000000000","11,968.0000000000"

In [108]:
data.head(10).T

,0,1,2,3,4,5,6,7,8,9
Military Strength,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain
Aircraft Strength value,260.0000000000,19.0000000000,551.0000000000,295.0000000000,227.0000000000,64.0000000000,464.0000000000,120.0000000000,147.0000000000,109.0000000000
Fighter/Interceptor Strength value,0.0000000000,0.0000000000,103.0000000000,72.0000000000,24.0000000000,0.0000000000,82.0000000000,15.0000000000,17.0000000000,17.0000000000
Attack Aircraft Strength value,25.0000000000,0.0000000000,22.0000000000,18.0000000000,7.0000000000,9.0000000000,6.0000000000,0.0000000000,12.0000000000,0.0000000000
Transport Aircraft Fleet Strength value,30.0000000000,0.0000000000,59.0000000000,30.0000000000,9.0000000000,3.0000000000,38.0000000000,11.0000000000,1.0000000000,2.0000000000
Trainer Aircraft Fleet value,0.0000000000,0.0000000000,87.0000000000,47.0000000000,64.0000000000,13.0000000000,174.0000000000,32.0000000000,29.0000000000,37.0000000000
Helicopter Fleet Strength value,187.0000000000,19.0000000000,257.0000000000,126.0000000000,100.0000000000,37.0000000000,133.0000000000,62.0000000000,88.0000000000,65.0000000000
Attack Helicopter Fleet Strength value,0.0000000000,0.0000000000,45.0000000000,15.0000000000,0.0000000000,20.0000000000,22.0000000000,0.0000000000,17.0000000000,22.0000000000
Tank Strength value,0.0000000000,0.0000000000,880.0000000000,379.0000000000,370.0000000000,110.0000000000,59.0000000000,56.0000000000,570.0000000000,180.0000000000
AFV/APC Strength value,"1,062.0000000000",467.0000000000,"7,361.0000000000",595.0000000000,739.0000000000,748.0000000000,"3,051.0000000000",467.0000000000,"1,451.0000000000",843.0000000000
Self-Propelled Artillery Strength value,0.0000000000,0.0000000000,320.0000000000,28.0000000000,83.0000000000,38.0000000000,0.0000000000,33.0000000000,187.0000000000,33.0000000000
Towed Artillery Strength value,176.0000000000,0.0000000000,240.0000000000,357.0000000000,172.0000000000,150.0000000000,54.0000000000,0.0000000000,227.0000000000,26.0000000000
Rocket Projector Strength value,50.0000000000,0.0000000000,316.0000000000,115.0000000000,26.0000000000,68.0000000000,0.0000000000,0.0000000000,162.0000000000,17.0000000000
Navy Fleet Strengths value,0.0000000000,38.0000000000,201.0000000000,57.0000000000,49.0000000000,0.0000000000,48.0000000000,0.0000000000,31.0000000000,39.0000000000
Aircraft Carrier Fleet Strength value,0.0000000000,0.0000000000,0.0000000000,0.0000000000,0.0000000000,NaN,2.0000000000,NaN,0.0000000000,0.0000000000
Submarine Fleet Strength value,0.0000000000,0.0000000000,6.0000000000,0.0000000000,2.0000000000,NaN,6.0000000000,NaN,4.0000000000,0.0000000000
Destroyer Fleet Strength value,0.0000000000,0.0000000000,0.0000000000,0.0000000000,4.0000000000,NaN,2.0000000000,NaN,0.0000000000,0.0000000000
Frigate Fleet Strength value,0.0000000000,0.0000000000,5.0000000000,0.0000000000,0.0000000000,NaN,8.0000000000,NaN,1.0000000000,1.0000000000
defense spending budget value,"12,00,00,00,000","25,00,00,000","13,00,00,00,000","7,00,00,00,000","4,20,00,00,000","1,38,50,00,000","26,30,00,00,000","3,38,00,00,000","2,80,50,00,000","1,41,50,00,000"
External Debt value,"2,84,00,00,000","9,50,50,00,000","6,26,00,00,000","42,08,00,00,000","2,14,90,00,00,000","10,41,00,00,000","17,14,00,00,00,000","6,30,80,00,00,000","17,41,00,00,000","52,15,00,00,000"
Airport Totals value,43.0000000000,4.0000000000,157.0000000000,176.0000000000,"1,138.0000000000",11.0000000000,480.0000000000,52.0000000000,37.0000000000,4.0000000000
Oil Production value,0.0000000000,"16,000.0000000000","13,06,000","16,66,000","4,79,400",0.0000000000,"2,63,000","14,260.0000000000","7,89,300","45,000.0000000000"
Oil Consumption value,"5,500.0000000000","42,500.0000000000","3,25,000","82,300.0000000000","6,85,000","47,500.0000000000","10,05,000","2,15,000","1,80,000","55,000.0000000000"
Proven Oil Reserves value,0.0000000000,"16,83,00,000","12,20,00,00,000","8,27,30,00,000","2,18,50,00,000",0.0000000000,"1,82,10,00,000","4,30,00,000","7,00,00,00,000","12,46,00,000"
Available Manpower value,"1,43,25,743","15,19,438","2,07,41,263","62,44,205","2,01,79,430","16,96,085","1,08,08,002","40,17,691","50,42,346","8,06,505"
Total Population value,"3,49,40,837","30,57,220","4,16,57,488","3,03,55,880","4,46,94,198","30,38,217","2,34,70,145","87,93,370","1,00,46,516","14,22,659"
Total Square Land Area value,"6,52,230","28,748.0000000000","23,81,741","12,46,700","27,80,400","29,743.0000000000","77,41,220","83,871.0000000000","86,600.0000000000",760.0000000000
Total Coastline Coverage value,0.0000000000,362.0000000000,998.0000000000,"1,600.0000000000","4,989.0000000000",NaN,"25,760.0000000000",NaN,713.0000000000,161.0000000000
Total Waterway Coverage value,"1,200.0000000000",41.0000000000,0.0000000000,"1,300.0000000000","11,000.0000000000",0.0000000000,"2,000.0000000000",0.0000000000,0.0000000000,0.0000000000
Total Border Coverage value,"5,987.0000000000",691.0000000000,"6,734.0000000000","5,369.0000000000","11,968.0000000000","1,570.0000000000",NaN,"2,524.0000000000","2,468.0000000000",NaN

In [115]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 30 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Military Strength                        138 non-null    object
 1   Aircraft Strength value                  138 non-null    float64
 2   Fighter/Interceptor Strength value       138 non-null    float64
 3   Attack Aircraft Strength value           138 non-null    float64
 4   Transport Aircraft Fleet Strength value  138 non-null    float64
 5   Trainer Aircraft Fleet value             138 non-null    float64
 6   Helicopter Fleet Strength value          138 non-null    float64
 7   Attack Helicopter Fleet Strength value   138 non-null    float64
 8   Tank Strength value                      138 non-null    float64
 9   AFV/APC Strength value                   138 non-null    float64
 10  Self-Propelled Artillery Strength value  138 non-null    float64
 11  Towed Artillery Strength value           138 non-null    float64
 12  Rocket Projector Strength value          138 non-null    float64
 13  Navy Fleet Strengths value               124 non-null    float64
 14  Aircraft Carrier Fleet Strength value    115 non-null    float64
 15  Submarine Fleet Strength value           115 non-null    float64
 16  Destroyer Fleet Strength value           115 non-null    float64
 17  Frigate Fleet Strength value             115 non-null    float64
 18  defense spending budget value            138 non-null    object
 19  External Debt value                      138 non-null    object
 20  Airport Totals value                     138 non-null    float64
 21  Oil Production value                     138 non-null    object
 22  Oil Consumption value                    138 non-null    object
 23  Proven Oil Reserves value                138 non-null    object
 24  Available Manpower value                 138 non-null    object
 25  Total Population value                   138 non-null    object
 26  Total Square Land Area value             138 non-null    object
 27  Total Coastline Coverage value           109 non-null    object
 28  Total Waterway Coverage value            138 non-null    object
 29  Total Border Coverage value              129 non-null    float64
dtypes: float64(19), object(11)
memory usage: 32.5+ KB

## Implement basic steps to see how is your data looks like

## Convert multi index columns to one level

## Detect and drop duplicated columns

## Check for missing values

In [117]:
df.isnull().sum()

Military Strength                           0
Military Strength Power Index               0
Aircraft Strength                           0
Aircraft Strength value                     0
Fighter/Interceptor Strength                0
Fighter/Interceptor Strength value          0
Attack Aircraft Strength                    0
Attack Aircraft Strength value              0
Transport Aircraft Fleet Strength           0
Transport Aircraft Fleet Strength value     0
Trainer Aircraft Fleet                      0
Trainer Aircraft Fleet value                0
Helicopter Fleet Strength                   0
Helicopter Fleet Strength value             0
Attack Helicopter Fleet Strength            0
Attack Helicopter Fleet Strength value      0
Tank Strength                               0
Tank Strength value                         0
AFV/APC Strength                            0
AFV/APC Strength value                      0
Self-Propelled Artillery Strength           0
Self-Propelled Artillery Strength value     0
Towed Artillery Strength                    0
Towed Artillery Strength value              0
Rocket Projector Strength                   0
Rocket Projector Strength value             0
Navy Fleet Strengths                       14
Navy Fleet Strengths value                 14
Aircraft Carrier Fleet Strength            23
Aircraft Carrier Fleet Strength value      23
Submarine Fleet Strength                   23
Submarine Fleet Strength value             23
Destroyer Fleet Strength                   23
Destroyer Fleet Strength value             23
Frigate Fleet Strength                     23
Frigate Fleet Strength value               23
defense spending budget                     0
defense spending budget value               0
External Debt                               0
External Debt value                         0
Airport Totals                              0
Airport Totals value                        0
Oil Production                              0
Oil Production value                        0
Oil Consumption                             0
Oil Consumption value                       0
Proven Oil Reserves                         0
Proven Oil Reserves value                   0
Available Manpower                          0
Available Manpower value                    0
Total Population                            0
Total Population value                      0
Total Square Land Area                      0
Total Square Land Area value                0
Total Coastline Coverage                   29
Total Coastline Coverage value             29
Total Waterway Coverage                     0
Total Waterway Coverage value               0
Total Border Coverage                       9
Total Border Coverage value                 9
dtype: int64

## Deal with missing values 
* Hint-1, use wikipedia to fill in missing values ​​comparing with similar countries
* Hint-2, Georeferences of countries can help you

## Fix the dtypes

## Drop the features that not affect military power
* Hint-1,  Georeferences not proper features

KeyError: "['total_square_land_area', 'total_coastline_coverage', 'total_waterway_coverage', 'total_border_coverage'] not found in axis"

## Visualy inspect the some features

## Decriptive statistics

# Data Preprocessing

# Modelling

## Hopkins Test 
#### Assess the clusterability of a dataset. A score between 0 and 1, a score around 0.5 express no clusterability, a score tending to 1 express an uniform distrubution so clustering can't be useful and  0 express  not an uniform distrubution hence clusterering can be useful.

## Clustering with K-means

### Elbow Method 
### We use this method to find optimal k value by looking up to break point of graph.

### Model Building and label visualisation

### Evaluate

## Hierarchical Clustering

### Dendogram

### Model Building and label visualisation

### Evaluate