In [1]:
numbers =[11, 36, 66, 89, 21, 32, 16, 10]

In [2]:
odds = 0
even = 0
for i in numbers :
    if not i % 2:
        even+= 1
    else:
        odds+=1
print("The sum of odd", odds)
print("The sum of even", even)

The sum of odd 3
The sum of even 5

In [9]:
sum = 0

for i in range(1,75):
     sum+=i

print(sum)

2775

In [14]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]

for i in (names):
    for m in (mood):
        print(i,m)

susan happy
susan sad
tom happy
tom sad
edward happy
edward sad

In [ ]:
# list comprat...

In [15]:
[i for i in range(6)]

[0, 1, 2, 3, 4, 5]

In [16]:
[i**2 for i in range(6)]

[0, 1, 4, 9, 16, 25]

In [18]:
# Ternary if Statements

# Ternary if Statements

In [19]:
condition = False
if condition :
    a = 1
else:
    a = 0
    print(a)

 if_body if condition else else_body

In [21]:
1 if condition else 0

0

In [23]:
a = 1 if condition else 0
print(a)

0

In [24]:
print(1 if False else 0)

0

In [32]:
my_list = [1,2,3,4,5,6,0,False, [], {}, ""]

In [26]:
[i**2 for i in my_list if i%2]

[1, 9, 25]

In [33]:
nuu=filter(None,my_list)
for i in nuu:
    print(i)

1
2
3
4
5
6