In [1]:
from scipy import stats

In [8]:
1- stats.poisson.cdf(0.03,3)

0.950212931632136

In [24]:
1-stats.poisson.pmf(0,3)

0.950212931632136

In [4]:
n = 10
p = .5
x = 5

In [11]:
stats.binom.pmf(x, n, p, loc=0)

0.11718750000000014

In [5]:
stats.binom.cdf(x, n, p)

0.6230468749999999

In [14]:
x=1.73

In [16]:
stats.norm.cdf(x, loc=0, scale=1)

0.47909243119320255

In [13]:
stats.norm.pdf(x, loc=0, scale=1)

0.089332623487655

In [17]:
stats.norm.cdf(0.5, loc=0, scale=1)-stats.norm.cdf(1.5, loc=0, scale=1)

-0.2417303374571288

In [18]:
stats.t.ppf(0.05,15)

-1.7530503556925552

In [ ]:
stats.norm.cdf(0.5, loc=0, scale=1)-stats.norm.cdf(1.5, loc=0, scale=1)

In [3]:
stats.norm.cdf(947, 950, 10)

0.3820885778110474

In [5]:
stats.norm.cdf(958, 950, 10)-stats.norm.cdf(947, 950, 10)

0.406056023605556

In [6]:
from math import sqrt

In [8]:
68 + 1.645*3/(sqrt(36))

68.8225

In [9]:
68 - 1.645*3/(sqrt(36))

67.1775

In [2]:
2*stats.t.cdf(-0.35,14)

0.7315482686624126

In [3]:
import pandas as pd

In [4]:
x = [91.50, 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21, 89.19, 90.95, 90.46, 93.21, 97.19, 97.04, 91.07, 92.75]
group = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2]
df = pd.DataFrame({"yield":x, "group":group})
df

    yield  group
0   91.50      1
1   94.18      1
2   92.18      1
3   95.39      1
4   91.79      1
5   89.07      1
6   94.72      1
7   89.21      1
8   89.19      2
9   90.95      2
10  90.46      2
11  93.21      2
12  97.19      2
13  97.04      2
14  91.07      2
15  92.75      2

In [11]:
indTest= stats.ttest_ind(df[df.group==1]['yield'], df[df.group==2]['yield'])

In [12]:
indTest.pvalue

0.7289136186068217

In [13]:
indTest.statistic

-0.3535908643461798

In [14]:
# Decision
alpha = 0.05
if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [18]:
indTest = stats.ttest_ind_from_stats(mean1=92.255,std1=2.39,nobs1=8,
                           mean2=92.733,std2=2.98,nobs2=8 ) 
indTest

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [19]:
# Decision
alpha = 0.05
if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [23]:
stats.ttest_ind_from_stats(mean1=10.67,std1=3.895,nobs1=500,
                           mean2= 7.83,std2= 4.224,nobs2=400,alternative='greater')

Ttest_indResult(statistic=10.4676374161062, pvalue=1.4200116519875262e-24)