___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

#  The Capstone Project of Data Analytics Module

# Car Price Prediction EDA

## Introduction
Welcome to "***Car Price Prediction EDA Project***". This is the capstone project of ***Data Analytics*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [3]:
df = pd.read_json("scout_car.json", lines=True)

In [4]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
Full Service,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]"
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN
Country version,NaN,NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [ ]:
df.columns

In [ ]:
df["Comfort_Convenience"] = df["\nComfort & Convenience\n"]
df["Entertainment_Media"] = df["\nEntertainment & Media\n"]
df["Extras"] = df["\nExtras\n"]
df["Safety_Security"] = df["\nSafety & Security\n"]

In [ ]:
drop_columns = ["\nComfort & Convenience\n","\nEntertainment & Media\n","\nExtras\n","\nSafety & Security\n"]
df.drop(drop_columns, axis = 1, inplace = True)

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()*100/df.shape[0]

**Droping columns that have %90 percent and higher of missing values.**

In [ ]:
def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x >= limit]

def perc_nans(serial):
    # display percentage of nans in a Series
    return serial.isnull().sum()/serial.shape[0]*100

In [ ]:
show_nans(df,90)

In [ ]:
drop_columns = show_nans(df,90).index
drop_columns

In [ ]:
df.drop(drop_columns, axis = 1, inplace = True)

In [ ]:
df.drop("null", axis = 1, inplace = True)

In [ ]:
df.info()

## Let's examine and clean all the columns/features one by one

## url

In [ ]:
df.url.value_counts(dropna=False)

In [ ]:
df.drop("url", axis = 1, inplace = True)

## make_model

In [ ]:
df.make_model.value_counts(dropna=False)

## Make

In [ ]:
df.Make.value_counts(dropna=False)

In [ ]:
df["Make"] = df.Make.str.strip('\n')

In [ ]:
df.Make.value_counts(dropna=False)

In [ ]:
df.drop("Make", axis=1, inplace=True)

## Model

In [ ]:
df.Model.value_counts(dropna=False)

In [ ]:
df["Model"] = df.Model.str[1]

In [ ]:
df.Model.value_counts(dropna=False)

In [ ]:
df.drop("Model", axis=1, inplace=True)

## short_description

In [ ]:
df.short_description.value_counts(dropna=False)

In [ ]:
df.drop("short_description", axis = 1, inplace = True)

## description

In [ ]:
df.description.value_counts(dropna=False)

In [ ]:
df.drop("description", axis = 1, inplace = True)

## body_type

In [ ]:
df.body_type.value_counts(dropna=False)

## Body

In [ ]:
df.Body.value_counts(dropna=False)

In [ ]:
df.drop("Body", axis = 1, inplace = True)

## price (target column)

In [ ]:
df.price.isnull().sum()

In [ ]:
sns.boxplot(df.price);

In [ ]:
sns.distplot(df.price);

## vat
The Value Added Tax, or VAT, in the European Union is a general, broadly based consumption tax assessed on the value added to goods and services.

In [ ]:
df.vat.value_counts(dropna=False)

## km

In [ ]:
df.km.value_counts(dropna=False)

In [ ]:
df.km.str.replace(',','').str.extract('(\d{1,8})')

In [ ]:
df["km"] = df.km.str.replace(',','').str.extract('(\d{1,8})')[0].astype('float')
#Function of extract returns a dataframe, that's why we have to use slicing method before changing the type of column

In [ ]:
df.km.value_counts(dropna=False)

## registration & First Registration

In [ ]:
df.registration.value_counts(dropna=False)

In [ ]:
df["First Registration"].value_counts(dropna=False)

I prefer "First Registration" column because I don't need month values

In [ ]:
df['First Registration'] = df['First Registration'].str[1].astype('float')

In [ ]:
df["First Registration"].value_counts(dropna=False)

In [ ]:
df['age'] = 2019 - df['First Registration']

In [ ]:
df.age.value_counts(dropna=False)

In [ ]:
df.drop(["registration", "First Registration"], axis=1, inplace=True)

## prev_owner & Previous Owners

In [ ]:
df.prev_owner.value_counts(dropna=False)

In [ ]:
df["Previous Owners"].value_counts(dropna=False)

I prefer "Previous Owners" column because it has less NaN values

In [ ]:
[item[0] if type(item) == list else item for item in df["Previous Owners"]]

In [ ]:
df["Previous_Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
df["Previous_Owners"]

In [ ]:
df["Previous_Owners2"] = df["Previous Owners"].apply(lambda item: item[0] if type(item) == list else item)
df["Previous_Owners2"]

In [ ]:
df["Previous_Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
df.drop(["prev_owner", "Previous Owners", "Previous_Owners2"], axis=1, inplace=True)

## hp

In [ ]:
df.hp.value_counts(dropna=False)

In [ ]:
df["hp_kW"] = df.hp.str.extract('(\d{1,4})')[0].astype('float')

In [ ]:
#Alternative method
#df.replace({"hp" : {" kW" : ""}}, regex = True, inplace = True)
#df["hp_kw"] = pd.to_numeric(df.hp)

In [ ]:
df.drop('hp', axis=1, inplace=True)

## Type

In [ ]:
df.Type.value_counts(dropna=False)

In [ ]:
df["Type"] = df.Type.str[1]

In [ ]:
df['Type'].value_counts(dropna=False)

## Next Inspection & Inspection new

In [ ]:
df["Next Inspection"].value_counts(dropna=False)

In [ ]:
df["Inspection new"].value_counts(dropna=False)

In [ ]:
df["Inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["Inspection_new"] = df["Inspection_new"].str.strip("\n")

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

In [ ]:
df.drop(["Next Inspection", "Inspection new"], axis=1, inplace=True)

## Warranty

In [ ]:
df.Warranty.value_counts(dropna=False)

In [ ]:
df["Warranty"] = df.Warranty.apply(lambda x : x[0] if type(x)==list else x)
df["Warranty"] = df.Warranty.str.strip("\n").str.extract('(\d{1,2})')[0].astype("float")

In [ ]:
df.Warranty.value_counts(dropna=False)

## Full Service

In [ ]:
df['Full Service'].value_counts(dropna=False)

In [ ]:
df.drop("Full Service", axis=1, inplace=True)

## Non-smoking Vehicle

In [ ]:
df['Non-smoking Vehicle'].value_counts(dropna=False)

In [ ]:
df.drop("Non-smoking Vehicle", axis=1, inplace=True)

## Offer Number

In [ ]:
df['Offer Number'].value_counts(dropna=False)

In [ ]:
df.drop("Offer Number", axis=1, inplace=True)

## Body Color

In [ ]:
df['Body Color'].value_counts(dropna=False)

In [ ]:
df['Body_Color'] = df['Body Color'].str[1]

In [ ]:
df['Body_Color'].value_counts(dropna=False)

In [ ]:
df.drop("Body Color", axis=1, inplace=True)

## Body Color Original

In [ ]:
df['Body Color Original'].value_counts(dropna=False)

In [ ]:
df.drop("Body Color Original", axis=1, inplace=True)

## Paint Type

In [ ]:
df['Paint Type'].value_counts(dropna=False)

In [ ]:
df['Paint_Type'] = df['Paint Type'].str[0].str.strip('\n')

In [ ]:
df['Paint_Type'].value_counts(dropna=False)

In [ ]:
df.drop("Paint Type", axis=1, inplace=True)

## Upholstery

In [ ]:
df['Upholstery'].value_counts(dropna=False)

In [ ]:
df["Upholstery"] = [item[0] if type(item) == list else item for item in df.Upholstery]

In [ ]:
df["Upholstery"] = df.Upholstery.str.strip("\n").str.split(", ")

In [ ]:
df["Upholstery"].value_counts(dropna=False)

In [ ]:
u_type = ["Cloth", 'Part leather', 'Full leather', 'Velour', 'alcantara']
df["Upholstery_type"] = df["Upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [ ]:
df["Upholstery_type"].value_counts(dropna=False)

In [ ]:
color = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue', 'Red', 'Yellow', 'Orange']

def finder(x):
    if type(x) == list and len(x) == 2:
        return x[1]
    elif type(x) == list and x[0] in color:
        return x[0]
    else:
        return np.nan
    
df['Upholstery_color'] = df.Upholstery.apply(finder)

In [ ]:
df["Upholstery_color"].value_counts(dropna=False)

In [ ]:
df.drop("Upholstery", axis=1, inplace=True)

## Nr. of Doors

In [ ]:
df["Nr. of Doors"].value_counts(dropna=False)

In [ ]:
df['Nr_of_Doors'] = df['Nr. of Doors'].str[0].str.strip('\n').astype('float')

In [ ]:
df["Nr_of_Doors"].value_counts(dropna=False)

In [ ]:
df.drop("Nr. of Doors", axis=1, inplace=True)

## Nr. of Seats

In [ ]:
df["Nr. of Seats"].value_counts(dropna=False)

In [ ]:
df['Nr_of_Seats'] = df['Nr. of Seats'].str[0].str.strip('\n').astype('float')

In [ ]:
df["Nr_of_Seats"].value_counts(dropna=False)

In [ ]:
df.drop("Nr. of Seats", axis=1, inplace=True)

## Model Code

In [ ]:
df["Model Code"].value_counts(dropna=False)

In [ ]:
df.drop("Model Code", axis=1, inplace=True)

## Gearing Type

In [ ]:
df["Gearing Type"].value_counts(dropna=False)

In [ ]:
df['Gearing_Type'] = df['Gearing Type'].str[1]

In [ ]:
df["Gearing_Type"].value_counts(dropna=False)

In [ ]:
df.drop("Gearing Type", axis=1, inplace=True)

## Displacement

In [ ]:
df["Displacement"].value_counts(dropna=False)

In [ ]:
df["Displacement"] = df.Displacement.str[0].str.strip('\n').str.replace(',','').str.extract('(\d{1,5})')[0].astype("float")

In [ ]:
df["Displacement_cc"] = df["Displacement"]

In [ ]:
df["Displacement_cc"].value_counts(dropna=False)

In [ ]:
df.drop("Displacement", axis=1, inplace=True)

## Cylinders

In [ ]:
df["Cylinders"].value_counts(dropna=False)

In [ ]:
df["Cylinders"] = df.Cylinders.str[0].str.strip('\n').astype("float")

In [ ]:
df["Cylinders"].value_counts(dropna=False)

## Weight

In [ ]:
df["Weight"].value_counts(dropna=False)

In [ ]:
df["Weight_kg"] = df.Weight.str[0].str.strip('\n').str.replace(',','').str.extract('(\d{1,6})')[0].astype('float')

In [ ]:
df["Weight_kg"].value_counts(dropna=False)

In [ ]:
df.drop("Weight", axis=1, inplace=True)

## Drive chain

In [ ]:
df["Drive chain"].value_counts(dropna=False)

In [ ]:
df['Drive_chain'] = df['Drive chain'].str[0].str.strip('\n')

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
df.drop("Drive chain", axis=1, inplace=True)

## Fuel

In [ ]:
df["Fuel"].value_counts(dropna=False)

In [ ]:
df["Fuel"] = df.Fuel.str[1].str.split("/").str[0].str.strip()

In [ ]:
df["Fuel"].value_counts(dropna=False)

In [ ]:
df["Fuel"] = df.Fuel.str.split("(").str[0].str.strip()

In [ ]:
df["Fuel"].value_counts(dropna=False)

In [ ]:
benzine = ["Gasoline", "Super 95","Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
lpg = ["LPG","Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x
df["Fuel"] = df.Fuel.apply(fueltype)

In [ ]:
df.Fuel.value_counts(dropna=False)

In [ ]:
#alternative method
#df["fuel_new"] = df.Fuel.str[1]
#diesel_bool = df["fuel_new"].str.contains("diesel", case = False, regex = True)
#lpg_bool = df["fuel_new"].str.contains("lpg|cng|bio|domestic|electric", case = False, regex = True)
#df.loc[diesel_bool, "fuel_new"] = "Diesel"
#df.loc[lpg_bool, "fuel_new"] = "LPG/CNG"
#benz = list(df.fuel_new.loc[lambda x : x != "Diesel"][lambda x : x != "LPG/CNG"].index)
#df.fuel_new.iloc[benz] = "Benzine"

## Consumption

In [ ]:
df["Consumption"].value_counts(dropna=False)

In [ ]:
def parser1(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return np.nan
    else:
        return x[1]

def parser2(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[1] != []:
            return x[1][0]
        else:
            return np.nan
    elif x[3].endswith(')'):
        return x[3]
    else:
        return np.nan

def parser3(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[2] != []:
            return x[2][0]
        else:
            return np.nan
    elif type(x[0]) != list and x[3].endswith(')'):
        return x[5]
    else:
        return np.nan

In [ ]:
df['cons_comb'] = df.Consumption.apply(parser1).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['cons_city'] = df.Consumption.apply(parser2).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['cons_country'] = df.Consumption.apply(parser3).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")

In [ ]:
df["cons_comb"].value_counts(dropna=False).head()

In [ ]:
df.drop('Consumption', axis=1,inplace=True)

## CO2 Emission

In [ ]:
df["CO2 Emission"].value_counts(dropna=False)

In [ ]:
df["CO2_Emission"] = [item[0] if type(item) == list else item for item in df["CO2 Emission"]]
df["CO2_Emission"] = df["CO2_Emission"].str.strip("\n").str.rstrip(" g CO2/km (comb)").str.replace(",", ".").astype("float")

In [ ]:
df["CO2_Emission"].value_counts(dropna=False)

In [ ]:
df.drop("CO2 Emission", axis=1, inplace=True)

## Emission Class

In [ ]:
df["Emission Class"].value_counts(dropna=False)

In [ ]:
df["Emission_Class"] = [item[0] if type(item) == list else item for item in df["Emission Class"]]
df["Emission_Class"] = df["Emission_Class"].str.strip("\n")

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [ ]:
df.replace({"Emission_Class" : {"Euro 6d-TEMP":"Euro 6", "Euro 6c":"Euro 6", "Euro 6d":"Euro 6"}}, regex = True, inplace = True)

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [ ]:
df.drop("Emission Class", axis=1, inplace=True)

## Emission Label

In [ ]:
df["Emission Label"].value_counts(dropna=False)

In [ ]:
df.drop("Emission Label", axis=1, inplace=True)

## Gears

In [ ]:
df["Gears"].value_counts(dropna=False)

In [ ]:
df["Gears"] = df.Gears.str[0].str.strip('\n')

In [ ]:
df["Gears"].value_counts(dropna=False)

## Country version

In [ ]:
df["Country version"].value_counts(dropna=False)

In [ ]:
df.drop("Country version", axis=1, inplace=True)

## Comfort_Convenience

In [ ]:
df["Comfort_Convenience"].value_counts(dropna=False).head()

In [ ]:
df["Comfort_Convenience"] = [",".join(item) if type(item) == list else item for item in df["Comfort_Convenience"]]

In [ ]:
df["Comfort_Convenience"].value_counts(dropna=False).head()

## Entertainment_Media

In [ ]:
df["Entertainment_Media"].value_counts(dropna=False).head()

In [ ]:
df["Entertainment_Media"] = [",".join(item) if type(item) == list else item for item in df["Entertainment_Media"]]

In [ ]:
df["Entertainment_Media"].value_counts(dropna=False).head()

## Extras

In [ ]:
df["Extras"].value_counts(dropna=False).head()

In [ ]:
df["Extras"] = [",".join(item) if type(item) == list else item for item in df["Extras"]]

In [ ]:
df["Extras"].value_counts(dropna=False).head()

## Safety_Security

In [ ]:
df["Safety_Security"].value_counts(dropna=False).head()

In [ ]:
df["Safety_Security"] = [",".join(item) if type(item) == list else item for item in df["Safety_Security"]]

In [ ]:
df["Safety_Security"].value_counts(dropna=False).head()

## The End of Part-1

In [ ]:
df.shape

In [ ]:
df.head().T

In [ ]:
df.info()

In [ ]:
df.to_csv("clean_scout.csv", index=False)