In [2]:
import re
import pandas as pd

search

### Expressions :
***
`\d`                         Any numeric digit from `0` to `9`.
`\D`                         Matches any character which is not a decimal digit.
                           This is the opposite of `\d`.
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
`\S`                         Any character that is not a space, tab,
                           or newline.
***

In [3]:
text = "A78L41K"

In [4]:
num = re.search('\w\w',text)
num

In [5]:
num.group(0)

'A7'

In [6]:
text = "8PM19MIN"

In [7]:
non_digi = re.search('\D',text)
non_digi

In [8]:
print(non_digi.group())

P

In [9]:
text = 'My phone number is 555 666 7777'

In [10]:
tel_no = re.search('\d\d\d \d\d\d \d\d\d\d',text)
tel_no

In [11]:
print(tel_no.group())

555 666 7777

In [12]:
text = 'My phone number is 555-666-7777'

In [13]:
tel_no = re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)',text)
print(tel_no.group())

555-666-7777

In [14]:
print(tel_no.group(3))

7777

In [15]:
telno = re.search("\d"*3 + "-" + "\d"*3 + "-" + "\d"*4, text)
print(telno.group())

555-666-7777

In [16]:
text = 'My phone number is 415-555-1212'
s = re.search('[\d]+[^-].*', text)
s

In [17]:
with open('text.txt','w') as file:
    file.write(text)

In [18]:
with open('text.txt','r') as file:
    txt = file.read()
print(txt)

My phone number is 415-555-1212

In [31]:
output = re.search('(\d).*-(\d.*-\d.*)',txt)
print(output.group())

415-555-1212

In [35]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d{1}',value)
print(output)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [36]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d{2}',value)
print(output)

['10', '10', '10', '00', '00']

In [34]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d{1,6}',value)
print(output)

['1', '10', '100', '100000']

In [43]:
phone = "2004-959-559"  # This is Phone Number

In [44]:
output = re.sub('\D','',phone)
print(output)

2004959559

In [45]:
output = re.sub('\D','*',phone)
print(output)

2004*959*559

In [47]:
output = re.sub('\d',' + ',phone)
print(output)

 +  +  +  + - +  +  + - +  +  +

### Special Characters
___
``"[]"``	  A set of characters	``"[a-m]"``
``"\"``	      Signals a special sequence (can also be used to escape special characters)
``"."``	      Any character (except newline character)
``"^"``	      Starts with	``"^hello"``
``"$"``	      Ends with	``"world$"``
``"*"``	      Zero or more occurrences
`"+"`	      One or more occurrences
`"{}"`	  Exactly the specified number of occurrences
`"|"`	      Either or	`"falls|stays"`
`"()"`	  Capture and group
___

In [48]:
txt = "1 person against 100 people"

In [49]:
output = re.findall('\d+',txt)
print(output)

['1', '100']

In [50]:
txt = 'hello world'

In [52]:
output = re.findall('^h',txt)
print(output)

['h']

In [53]:
a = re.findall('(^\S).*', txt)
a

['h']

In [54]:
b = re.findall("world$",txt)
b

['world']

In [55]:
s = pd.Series(['a2','a3','b4','d'])

In [56]:
s.str.contains('a')

0     True
1     True
2    False
3    False
dtype: bool

In [58]:
s.str.extract('(\d)')

     0
0    2
1    3
2    4
3  NaN

In [60]:
s.str.extract('(\w)')

   0
0  a
1  a
2  b
3  d

In [61]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])

In [62]:
s.str.extract('(\w)\d(\w)(\w)')

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [63]:
s= pd.Series(['40 l/100 km (comb)',
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)',
       '7.8 l/100 km (comb)'])

In [64]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [70]:
s.str.extract('(\d\d|\d.\d|\d)')

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [73]:
result = s.str.extract('(\d\d|\d.\d|\d).+(\d\d\d)')
result

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [76]:
result = s.str.extract('(^\d*.\d*) \w*/(\d*)')
result

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100