In [2]:
import seaborn as sns

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [4]:
df = sns.load_dataset('mpg')

In [5]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [9]:
len(df.columns)

9

In [10]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [12]:
df.select_dtypes(exclude=['object'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [14]:
df.nunique(axis=0)

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            305
dtype: int64

In [18]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [4]:
import numpy as np

In [5]:
np.random.seed(101)
population = np.random.randint(0,100, size=100000)

In [6]:
population

array([95, 11, 81, ..., 72, 75, 64])

In [7]:
len(population)

100000

In [11]:
np.random.seed(51)

sample = np.random.choice(population,100)

In [12]:
sample

array([89, 69,  3, 24, 28,  1, 63, 44, 41, 23,  1, 53, 21, 23, 51, 90, 26,
       54, 84, 83,  9, 64, 42, 15, 65, 37,  3, 29, 96, 90, 47, 73, 92, 87,
       91, 67, 69, 14, 45, 11, 68, 70, 95, 21, 64, 77, 94, 63, 55, 36, 21,
       46, 77, 82, 27, 89, 16, 97, 70, 85, 71, 50, 32, 99, 16, 34, 62, 87,
       48, 37, 46, 25, 53,  4, 58, 18, 59, 68, 68, 90, 23, 56, 17, 86, 24,
       47, 59,  6, 87, 38,  7, 96, 39, 50, 33, 13, 21,  4, 13, 43])

In [13]:
population.mean()

49.41751

In [14]:
sample.mean()

49.57

In [20]:
sample_means=[]

for i in range(1000):
    sample = np.random.choice(population,100)
    sample_means.append(sample.mean())

sample_means

[49.58,
 52.28,
 50.62,
 47.96,
 46.59,
 49.37,
 47.26,
 49.2,
 47.85,
 52.95,
 51.58,
 51.25,
 49.43,
 47.28,
 49.66,
 50.24,
 52.94,
 53.74,
 50.19,
 52.74,
 46.89,
 47.99,
 47.92,
 47.92,
 50.12,
 48.16,
 48.71,
 48.96,
 47.03,
 45.54,
 49.8,
 53.47,
 50.45,
 52.01,
 49.66,
 54.15,
 49.46,
 50.5,
 49.36,
 51.72,
 54.71,
 45.52,
 54.06,
 49.92,
 43.87,
 51.07,
 49.04,
 46.96,
 49.82,
 47.21,
 44.07,
 53.02,
 44.12,
 51.24,
 50.66,
 49.06,
 45.17,
 47.86,
 49.96,
 57.46,
 46.34,
 48.94,
 49.45,
 52.55,
 48.23,
 49.81,
 48.54,
 47.48,
 48.05,
 54.16,
 53.1,
 48.03,
 45.1,
 49.62,
 44.72,
 53.94,
 50.48,
 49.4,
 48.22,
 47.26,
 47.43,
 49.15,
 45.16,
 53.04,
 45.91,
 49.57,
 47.72,
 48.48,
 51.84,
 51.31,
 48.37,
 41.03,
 49.14,
 49.9,
 49.47,
 47.31,
 47.79,
 48.3,
 52.15,
 50.01,
 52.37,
 44.2,
 44.52,
 49.38,
 48.13,
 47.7,
 51.54,
 51.44,
 44.36,
 49.51,
 48.71,
 55.22,
 49.75,
 53.09,
 48.1,
 51.47,
 51.14,
 52.32,
 48.85,
 47.1,
 49.31,
 51.31,
 46.38,
 49.97,
 52.17,
 48.84,
 56.51,
 53.08,
 48.34,
 53.0,
 53.71,
 49.79,
 51.54,
 46.48,
 51.8,
 47.0,
 48.92,
 51.14,
 49.26,
 48.51,
 49.62,
 49.62,
 51.23,
 50.36,
 45.12,
 47.95,
 51.61,
 48.71,
 46.46,
 46.75,
 50.76,
 48.88,
 44.97,
 51.87,
 45.1,
 52.73,
 53.33,
 48.12,
 51.34,
 49.36,
 42.76,
 50.65,
 51.74,
 46.12,
 49.52,
 50.86,
 44.74,
 50.76,
 47.03,
 49.93,
 47.43,
 46.92,
 51.52,
 46.21,
 52.01,
 46.88,
 45.01,
 41.39,
 48.37,
 53.44,
 47.08,
 47.84,
 46.8,
 51.38,
 52.98,
 47.99,
 47.96,
 47.6,
 44.72,
 47.87,
 50.12,
 51.44,
 49.32,
 50.8,
 45.81,
 50.85,
 47.24,
 53.18,
 45.42,
 52.84,
 48.92,
 55.46,
 50.71,
 47.02,
 46.1,
 52.1,
 43.32,
 45.85,
 45.26,
 44.74,
 47.47,
 44.49,
 47.66,
 48.06,
 48.12,
 50.01,
 48.58,
 54.46,
 46.29,
 50.94,
 42.37,
 50.84,
 53.0,
 49.34,
 45.05,
 50.33,
 47.81,
 53.86,
 50.72,
 52.69,
 47.95,
 44.59,
 46.47,
 48.24,
 44.61,
 48.84,
 51.62,
 48.65,
 50.83,
 53.65,
 51.87,
 51.51,
 54.12,
 46.03,
 46.5,
 45.74,
 51.84,
 51.16,
 48.54,
 51.01,
 51.72,
 52.79,
 55.9,
 48.01,
 49.31,
 50.84,
 47.23,
 44.74,
 46.26,
 50.1,
 55.3,
 46.41,
 47.06,
 52.29,
 48.75,
 54.32,
 50.44,
 46.98,
 49.4,
 48.29,
 44.86,
 49.03,
 48.29,
 47.64,
 45.69,
 48.41,
 48.78,
 50.72,
 48.28,
 53.74,
 41.49,
 46.39,
 51.15,
 50.82,
 48.76,
 47.93,
 48.77,
 48.4,
 53.24,
 44.23,
 50.65,
 48.6,
 46.58,
 53.27,
 49.26,
 48.8,
 48.38,
 52.53,
 48.54,
 51.63,
 48.93,
 52.77,
 48.67,
 52.58,
 46.26,
 49.62,
 51.31,
 56.78,
 50.05,
 49.77,
 50.0,
 50.2,
 48.67,
 46.91,
 45.88,
 52.46,
 50.57,
 48.71,
 54.24,
 48.54,
 47.09,
 53.28,
 51.86,
 45.72,
 49.58,
 49.25,
 49.93,
 46.86,
 54.65,
 51.54,
 49.19,
 52.38,
 52.43,
 52.6,
 45.71,
 43.17,
 51.72,
 53.25,
 50.74,
 50.76,
 48.9,
 48.64,
 52.98,
 52.09,
 50.16,
 47.38,
 50.72,
 43.21,
 50.41,
 49.97,
 45.12,
 47.75,
 48.21,
 48.59,
 47.9,
 47.37,
 50.37,
 51.19,
 48.25,
 46.62,
 51.57,
 49.68,
 48.62,
 49.54,
 47.84,
 54.37,
 51.84,
 47.22,
 51.95,
 50.91,
 54.23,
 51.23,
 44.3,
 50.86,
 44.3,
 46.22,
 43.14,
 44.09,
 49.72,
 47.16,
 50.18,
 50.21,
 51.41,
 55.11,
 52.44,
 49.35,
 46.71,
 48.52,
 50.25,
 54.15,
 50.87,
 51.15,
 46.91,
 50.04,
 49.06,
 52.35,
 50.67,
 52.19,
 51.96,
 46.8,
 48.64,
 51.82,
 50.19,
 48.81,
 47.71,
 53.97,
 48.21,
 51.68,
 52.49,
 49.24,
 54.63,
 44.51,
 46.73,
 45.13,
 48.28,
 54.92,
 50.59,
 54.45,
 50.62,
 49.6,
 47.11,
 53.46,
 45.66,
 45.63,
 46.12,
 45.65,
 53.08,
 49.45,
 49.89,
 53.24,
 57.2,
 48.19,
 49.0,
 42.11,
 46.64,
 49.6,
 52.7,
 45.32,
 59.18,
 49.65,
 46.49,
 52.56,
 55.66,
 48.29,
 53.28,
 48.46,
 46.47,
 49.44,
 48.66,
 48.93,
 49.14,
 52.19,
 47.7,
 49.6,
 49.0,
 54.75,
 48.13,
 54.6,
 49.69,
 49.51,
 47.37,
 48.42,
 46.33,
 44.48,
 51.49,
 51.9,
 46.02,
 53.85,
 49.21,
 48.84,
 47.0,
 48.99,
 45.55,
 49.84,
 51.92,
 47.51,
 51.91,
 47.99,
 49.03,
 51.31,
 47.8,
 49.9,
 48.0,
 49.41,
 54.53,
 48.14,
 51.82,
 55.74,
 52.17,
 46.41,
 46.79,
 53.67,
 49.84,
 47.68,
 50.94,
 53.51,
 48.79,
 49.45,
 51.19,
 52.85,
 47.41,
 52.09,
 50.7,
 48.54,
 47.92,
 51.12,
 47.63,
 50.85,
 53.73,
 51.11,
 47.9,
 50.48,
 47.35,
 49.44,
 51.34,
 45.94,
 45.05,
 53.5,
 45.69,
 50.4,
 50.51,
 44.68,
 50.75,
 52.6,
 48.51,
 52.5,
 51.17,
 45.55,
 52.44,
 49.12,
 46.61,
 45.85,
 45.59,
 48.17,
 46.5,
 47.95,
 51.4,
 46.02,
 42.19,
 48.6,
 51.29,
 47.7,
 45.62,
 51.77,
 46.16,
 50.29,
 50.78,
 50.02,
 49.96,
 49.2,
 49.23,
 51.35,
 53.94,
 51.22,
 46.42,
 48.66,
 48.66,
 51.76,
 54.05,
 49.96,
 52.31,
 49.96,
 50.44,
 49.43,
 53.5,
 51.44,
 51.08,
 49.14,
 48.72,
 49.12,
 47.87,
 46.92,
 47.9,
 47.02,
 50.61,
 49.35,
 54.23,
 52.56,
 50.18,
 46.92,
 53.21,
 52.73,
 50.1,
 45.38,
 45.66,
 48.79,
 49.29,
 45.33,
 51.12,
 50.82,
 50.13,
 50.05,
 44.71,
 44.35,
 49.59,
 45.64,
 47.52,
 52.41,
 42.58,
 48.36,
 51.18,
 50.65,
 47.38,
 53.26,
 49.11,
 51.24,
 52.7,
 49.27,
 49.7,
 50.36,
 46.84,
 46.99,
 51.19,
 49.73,
 53.17,
 49.93,
 47.12,
 48.56,
 49.61,
 49.73,
 50.36,
 50.21,
 50.0,
 48.07,
 48.12,
 46.43,
 46.32,
 47.25,
 51.32,
 50.76,
 49.93,
 51.4,
 48.22,
 48.64,
 52.61,
 47.88,
 48.95,
 55.66,
 46.55,
 44.64,
 50.63,
 48.5,
 51.43,
 45.76,
 46.35,
 48.21,
 46.68,
 48.08,
 50.89,
 48.91,
 53.9,
 46.82,
 47.95,
 53.13,
 48.81,
 51.43,
 54.93,
 46.92,
 42.48,
 48.65,
 53.7,
 49.11,
 51.44,
 44.99,
 50.15,
 51.75,
 52.94,
 51.0,
 49.71,
 44.05,
 52.3,
 50.51,
 48.81,
 50.38,
 44.05,
 50.51,
 47.97,
 49.84,
 48.81,
 48.48,
 47.72,
 51.79,
 47.93,
 46.28,
 50.63,
 48.93,
 50.89,
 44.86,
 51.77,
 46.45,
 53.45,
 45.89,
 54.33,
 47.23,
 50.36,
 50.52,
 47.46,
 48.22,
 49.1,
 52.0,
 43.23,
 47.69,
 52.01,
 45.41,
 49.73,
 48.91,
 52.27,
 49.87,
 50.12,
 48.75,
 50.03,
 46.7,
 46.9,
 53.66,
 44.87,
 50.02,
 47.39,
 49.97,
 48.47,
 48.28,
 45.68,
 50.08,
 52.26,
 50.49,
 46.89,
 51.77,
 45.77,
 45.06,
 51.3,
 47.76,
 47.78,
 43.93,
 53.13,
 48.65,
 50.19,
 48.8,
 46.93,
 52.42,
 55.5,
 42.4,
 46.54,
 53.69,
 45.47,
 42.51,
 47.52,
 48.76,
 51.8,
 47.27,
 50.85,
 53.15,
 49.71,
 49.04,
 53.66,
 51.15,
 49.4,
 48.69,
 52.03,
 52.2,
 50.16,
 50.54,
 47.53,
 50.14,
 51.44,
 50.07,
 51.33,
 48.11,
 51.79,
 56.23,
 47.46,
 50.72,
 45.6,
 50.95,
 51.0,
 47.18,
 47.81,
 46.17,
 53.88,
 52.81,
 49.71,
 53.44,
 52.18,
 51.71,
 46.54,
 49.44,
 52.19,
 44.02,
 44.13,
 49.28,
 53.93,
 42.96,
 48.38,
 48.36,
 49.94,
 50.46,
 51.68,
 47.08,
 50.19,
 51.64,
 45.16,
 50.57,
 51.29,
 47.75,
 51.49,
 52.87,
 46.24,
 53.47,
 49.1,
 47.22,
 51.97,
 48.97,
 49.34,
 55.24,
 52.96,
 49.55,
 45.8,
 47.09,
 50.93,
 53.73,
 47.41,
 42.64,
 45.51,
 54.99,
 47.06,
 53.55,
 50.77,
 45.9,
 51.88,
 41.54,
 51.43,
 50.55,
 51.65,
 52.9,
 48.37,
 46.25,
 50.69,
 50.16,
 47.63,
 53.1,
 47.42,
 50.23,
 58.57,
 47.53,
 47.91,
 44.86,
 46.93,
 48.29,
 49.2,
 45.69,
 50.57,
 42.23,
 47.23,
 50.6,
 49.97,
 52.63,
 50.18,
 49.89,
 58.12,
 51.96,
 51.81,
 53.41,
 48.74,
 52.52,
 53.57,
 49.39,
 50.34,
 50.83,
 47.4,
 49.26,
 49.85,
 56.2,
 48.56,
 45.46,
 55.52,
 47.52,
 48.86,
 49.96,
 48.62,
 50.48,
 47.75,
 50.96,
 46.31,
 46.75,
 47.47,
 49.29,
 48.62,
 48.02,
 46.35,
 45.11,
 52.81,
 47.06,
 47.6,
 47.33,
 47.93,
 48.93,
 52.94,
 44.93,
 50.02,
 45.73,
 54.04,
 47.94,
 49.37,
 52.34,
 51.81,
 48.17,
 46.45,
 47.74,
 50.59,
 45.35,
 49.42,
 48.97,
 50.92,
 47.81,
 51.63,
 50.97,
 55.53,
 45.2,
 49.99,
 47.28,
 50.06,
 47.77,
 50.2,
 43.46,
 45.72,
 46.96,
 50.01,
 47.42,
 48.4,
 50.49,
 49.52,
 50.51,
 46.18,
 45.03,
 50.79,
 42.56,
 50.72,
 43.52,
 48.2,
 49.92,
 43.48,
 49.8,
 47.93,
 49.34,
 51.14,
 51.48,
 50.86,
 49.09,
 51.93,
 56.34,
 50.35,
 53.6,
 53.35,
 47.66,
 46.62,
 52.96,
 57.99,
 55.67,
 47.14,
 50.41,
 53.52,
 48.95,
 50.7,
 47.9,
 43.44,
 49.4,
 51.29,
 47.82,
 50.08,
 49.99,
 47.39,
 51.17,
 45.84,
 49.46,
 49.52,
 45.27,
 50.9,
 47.49,
 51.69,
 50.17,
 52.36,
 49.28,
 48.37,
 54.04,
 50.71,
 50.04,
 49.63,
 51.38,
 44.24,
 52.65,
 53.97,
 50.87,
 56.21,
 48.53,
 47.37,
 51.17,
 49.82,
 48.85,
 51.32,
 53.22,
 53.3,
 51.24]

In [21]:
np.mean(sample_means)

49.414880000000004