In [13]:
with open('fishes.txt','r') as file :
    fish = file.readlines()

In [2]:
type(fish)

list

In [7]:
fish

['Orca is a kind of Dolphin.\n',
 'Blue Whale is the largest animal known on earth.\n',
 'Sharks are the sister group to the Rays (batoids).\n',
 'The Tuna Fish can weigh up to 260 kg.\n',
 'Squid and Octopus are in the same class.']

In [17]:
for line in fish:
    print(line)

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [14]:
type(file)

_io.TextIOWrapper

In [18]:
fish.read()

AttributeError: 'list' object has no attribute 'read'

In [25]:
with open('rumi.txt','r') as file :
    rumi = file.readlines()

In [26]:
rumi

['I want to sing\n',
 'Like the birds sing,\n',
 'Not worrying about\n',
 'Who hears or\n',
 'What they think.']

In [27]:
with open('rumi.txt','r') as file :
    for line in file:
        print(line)

I want to sing

Like the birds sing,

Not worrying about

Who hears or

What they think.

In [37]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

In [38]:
with open('fruits.txt', 'w',encoding='utf-8') as file:
    for basket in fruits:
        file.write(basket + '\n')

In [39]:
file

In [43]:
with open('fruits.txt') as file:
    print(file.read())

Banana
Orange
Apple
Strawberry
Cherry

In [41]:
file

In [42]:
print(file)

<_io.TextIOWrapper name='fruits.txt' mode='r' encoding='cp1254'>

In [44]:
with open('fruits.txt') as file:
    fruits_list = file.readlines()

In [45]:
fruits_list

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [46]:
with open('fruits2.txt', 'w') as ff:
    ff.writelines(fruits_list)

In [47]:
with open('fruits2.txt') as ff:
    print(ff.read())

Banana
Orange
Apple
Strawberry
Cherry

In [50]:
fruits3 = fruits_list + ['lemon' ,'apple']

In [51]:
with open('fruits3.txt', 'w') as ff:
    ff.writelines(fruits3)

In [ ]:
with open('fruits3.txt', 'w') as ff:
    ff.writelines(fruits3)

In [53]:
with open("istiklal.txt","r", encoding='utf-8') as file:
    print(file.read())

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.
Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!
Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.
Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?
Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.
Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.
Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.
Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

In [55]:
with open("istiklal.txt","r", encoding='utf-8') as file:
    lines = file.readlines()
lines

['Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n']

In [59]:
counter=0
with open("istiklal.txt","w", encoding='utf-8') as file:
    for i in lines:
        counter+=1
        if counter %4==0:
            file.write(i +'\n')
        else:
            file.write(i)

with open("istiklal.txt","r", encoding='utf-8') as file:
     print(file.read())

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.


Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...

Hakkıdır, hakk'a tapan, milletimin istiklal!

Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!

Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.

Garbın afakını sarmışsa çelik zırhlı duvar,

Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?


Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.


Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:

Verme, dünyaları alsan da, bu cennet vatanı.

Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!

Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.

Ruhumun senden, ilahi, şudur ancak emeli:

Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

In [64]:
with open("istiklal.txt","r", encoding='utf-8') as f:
     lines_new= f.readlines()
lines_new

['Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 '\n',
 '\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 '\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 '\n',
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 '\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 '\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 '\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 '\n',
 '\n',
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 '\n',
 '\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 '\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 '\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 '\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 '\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 '\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n',
 '\n',
 '\n']

In [66]:
with open('istiklal.txt','a',encoding='utf-8') as f:
    for i in lines_new :
        if i == '\n':
            pass
        else:
            f.write(i)
with open("istiklal.txt","r", encoding='utf-8') as f:
     lines_new= f.readlines()
lines_new

['Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 '\n',
 '\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 '\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 '\n',
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 '\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 '\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 '\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 '\n',
 '\n',
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 '\n',
 '\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 '\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 '\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 '\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 '\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 '\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n',
 '\n',
 '\n',
 'Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n',
 'Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n',
 'Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n']

In [69]:
with open('fruits.csv','r',encoding='utf-8') as file:
    filer=file.read()
filer

'no,fruit,amount\n1,Banana,4 lb\n2,Orange,5 lb\n3,Apple,2 lb\n4,Strawberry,6 lb\n5,Cherry,3 lb'

In [70]:
import csv

In [80]:
with open("fruits.csv", 'r', newline='', encoding='utf-8') as file:
    csv_row = csv.reader(file)
    for row in csv_row:
        print(row)
csv_row

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

ValueError: I/O operation on closed file.

In [84]:
for row in csv_row:
    print(row)

ValueError: I/O operation on closed file.

In [87]:
with open("fruits.csv", 'r', newline='', encoding='utf-8') as file:
    csv_row = csv.reader(file, delimiter ='?')
    for row in csv_row:
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [88]:
import pandas as pd

In [89]:
df= pd.read_csv('titanic.csv')

In [90]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [92]:
bayanlar = df[df['Sex']== 'female']
bayanlar

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [93]:
bayanlar.to_csv('titanic_bayanlar.csv', index= False)

In [97]:
vefat = df[df['Survived'] == 0]
vefat

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [98]:
vefat.to_csv('vefat.csv', index= False)

In [96]:
df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [99]:
df.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64